.element__like-counter {
  grid-area: like-counter;
  align-self: flex-start;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #000;
}
