.header__link_place_main {
  margin: 8px 0 0 24px;
}

@media screen and (max-width: 929px) {
  .header__link_place_main {
    margin-right: 35px;
  }
}

@media screen and (max-width: 635px) {
  .header__link_place_main {
    margin: 6px 30px 0 0;
    font-size: 14px;
  }
}
