.profile__job {
  margin: 8px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 929px) {
  .profile__job {
    font-size: 16px;
  }
}

@media screen and (max-width: 635px) {
  .profile__job {
    margin: 6px 0 0 0;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
