.header__link {
  text-decoration: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  opacity: 1;
  transition: opacity .25s linear;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 920px) {
  .header__link {
    margin-right: 35px;
  }
}

@media screen and (max-width: 635px) {
  .header__link {
    font-size: 14px;
    margin-right: 30px;
  }
}
