@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__section/page__section.css);
@import url(./blocks/page/__auth/page__auth.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__main/header__main.css);
@import url(./blocks/header/__additional/header_additional.css);
@import url(./blocks/header/__additional/_visible/header__additional_visible.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__email/_place/header__email_place_main.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_active/header__button_active.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_place/header__link_place_main.css);
@import url(./blocks/header/__link/_place/header__link_place_additional.css);
@import url(./blocks/content/content.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-update-button/profile__avatar-update-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(./blocks/profile/__button/_type/profile__button_type_add.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__drop-button/element__drop-button.css);
@import url(./blocks/element/__drop-button/_hidden/element__drop-button_hidden.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_common.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_content/popup__container_content_common.css);
@import url(./blocks/popup/__container/_content/popup__container_content_image.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_type/popup__heading_type_confirmation.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/__type/popup__input_type_error.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__icon/_status/popup__icon_status_ok.css);
@import url(./blocks/popup/__icon/_status/popup__icon_status_fail.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__heading/auth__heading.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__link/auth__link.css);
