.header__button {
  display: none;
  margin-right: 30px;
  width: 24px;
  height: 18px;
  border: none;
  background-image: url("../../../images/more-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: opacity .25s linear;
}

.header__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 635px) {
  .header__button {
    display: inline-block;
  }
}
